{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<section class = "full-width d-flex justify-content-center align-items-center">
    <div class="container-fluid d-flex justify-content-center align-items-center w-75">
        <div class="card bg-light w-75" style="border-radius: 2rem;">
            <div class="row g-0">
                <div class="col-lg-5">
                <img src="../static/images/login-illustration.png" class="img-fluid rounded m-4" alt="login-illustration">
                </div>
                <div class="col-lg-7">
                    <div class="card-body mx-3">
                        <h1 class="card-title mb-5 mt-3">Login</h1>
                        <form class="ml-3" method="POST" action="">
                            {% csrf_token %}
                            
                            <div class="mb-3">
                                <label class="form-label mb-3">Username</label>
                                <input type="text" name="username" placeholder="Username" class="form-control">
                            </div>

                            <div class="mb-5">
                                <label class="form-label mb-3">Password</label>
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                            
                            <button type="submit" class="btn btn-outline-primary w-100 mb-3" value="login">Login</button>
                            <div class="mb-3">
                                {% if messages %}
                                {% for message in messages %}
                                    <small class="text-danger">{{ message }}</small>
                                {% endfor %}
                                {% else %}
                                    <small class="text-danger">&nbsp;</small>
                                {% endif %}
                            </div>
                            <p>Don't have an account? <a href="{% url 'todolist:register' %}">Register</a></p>
                        
                        </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}