{% extends 'base.html' %}

{% block content %}
<h2>Welcome, {{ request.user.username }}!</h2>
<br/><br/>

<button><a href="{% url 'todolist:create_task' %}" style="text-decoration:none ;">New Task</a></button>
{% if messages %}  
    {% for message in messages %}  
    <small style="display: ismallne;">{{ message }}</small>  
    {% endfor %}  
{% endif %}
<br/><br/>

{% if my_todolist %}

    <table border="1" style=display:inline-block ;">
        <tr>
            <th>Task</th>
            <th>Task Description</th>
            <th>Date Created</th>
            <th>Status</th>
        </tr>
        {% for todo in my_todolist %}
        <tr>
            <td style="padding:5px ;" width="250px">{{ todo.title }}</td>
            <td style="padding:5px ;" width="500px">{{ todo.description }}</td>
            <td style="padding:5px ;" width="100px">{{ todo.date }}</td>
            {% if todo.is_finished %}
                <td style="padding:5px ;" width="100px">Finished</td>
            {% else %}
                <td style="padding:5px ;" width="100px">Not Finished</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <table style="display: inline-block;">
        <tr>
            <th style="padding:12px ;"></th>
        </tr>
        {% for todo in my_todolist %}
        <tr>
            {% if not todo.is_finished %}
                <td style="padding:5px ;"><a href="{% url 'todolist:complete_task' todo.id %}" style="text-decoration:none ;">&#x2610</a></td>
            {% else %}
                <td style="padding:5px ;"><a href="{% url 'todolist:complete_task' todo.id %}" style="text-decoration:none ;">&#x2611</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <table style="display: inline-block;">
        <tr>
            <th style="padding:13px ;"></th>
        </tr>
        {% for todo in my_todolist %}
        <tr>
            <td style="padding:5px ;"><a href="{% url 'todolist:delete_task' todo.id %}" style="text-decoration:none ;">&#x1F5D1</a></td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <br/><h5>You don't have any to-do list yet.</h5>

{% endif %}
<br/><br/>

<button><a href="{% url 'todolist:logout' %}" style="text-decoration:none ;">Logout</a></button>

{% endblock content %}