{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block meta %}
<title>To-do List</title>
{% endblock meta %}

{% block content %}

<section class = "full-width d-flex justify-content-center align-items-start">
    <nav class="navbar fixed-top">
        <div class="container-fluid" style="padding:3vh ;">
            <span class="navbar-brand h1">Welcome, {{ request.user.username }}!</span>
            <form action="{% url 'todolist:logout' %}" method="GET">
                <button type="submit" class="btn btn-danger" value="logout">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container mt-5">
        <form action="{% url 'todolist:create_task' %}" method="GET">
            <button type="submit" class="btn btn-primary" value="create_task">New Task</button>
        </form>
        <br/>
        <div class="row">
            {% for todo in my_todolist %}
            <div class="col-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ todo.title }}</h5>
                        <p class="card-text">{{ todo.description }}</p>
                        <footer class="text-muted" style="font-size: small;">{{ todo.date }}</footer>
                        <br/>
                        <div class="btn-group" role="group">
                            {% if todo.is_finished %}
                            <form action="{% url 'todolist:complete_task' todo.id %}" method="GET">
                                <button type="submit" class="btn btn-outline-primary btn-sm" value="complete_task">Unmark Done</button>
                            </form>
                            {% else %}
                            <form action="{% url 'todolist:complete_task' todo.id %}" method="GET">
                                <button type="submit" class="btn btn-outline-primary btn-sm" value="complete_task">Mark Done</button>
                            </form>
                            {% endif %}
                            
                            <form action="{% url 'todolist:delete_task' todo.id %}" method="GET">
                                <button type="submit" class="btn btn-outline-danger btn-sm" value="delete_task">Delete</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}