{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block meta %}
<title>To-do List</title>
{% endblock meta %}

{% block content %}

<section class = "full-width d-flex justify-content-center align-items-start">
    <nav class="navbar fixed-top">
        <div class="container-fluid" style="padding:2vh ; margin-left:17px ; margin-right:15px ;">
            <span class="navbar-brand" style="color:#303c6c ; font-weight: 700; font-size: xx-large;">Welcome, {{ request.user.username }}!</span>
            <form action="{% url 'todolist:logout' %}" method="GET">
                <button type="submit" class="btn btn-danger" value="logout">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container mt-5" style="min-width:97vw ;">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#create-task">New Task</button>
        
        <br/><br/>
        <div class="row" id="card-deck">
            
        </div>
    </div>

    <!-- Create Task Modal -->
    <div class="modal fade" id="create-task" tabindex="-1" aria-labelledby="create-task-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="create-task-modal">Create Task</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addform" class="ml-3" onsubmit="return false;">
                    {% csrf_token %}
                    
                    {{form|crispy}}
                    
                    <button id="submit_new" type="submit" class="btn btn-primary" value="Create Task" data-bs-dismiss="modal" style="float:right ;">Create Task</button>
                </form>
            </div>
          </div>
        </div>
      </div>
</section>

<script>
    document.getElementById("submit_new").onclick = addTask
    loadCards()

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    async function loadCards() {
        var wrapper = document.getElementById('card-deck')
        wrapper.innerHTML = ''
        
        var url = "{% url 'todolist:todolist_json' %}"

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            console.log('data:', data)

            var todo = data
            for(var i in todo) {
                var status = "Mark Done"
                if(`${todo[i].is_finished}` == true) {
                    status = "Unmark Done"
                }

                var card = `
                <div class="col-4">
                    <div class="card text-white border-0 mb-4" id="tasks">
                        <div class="card-body" id="task-${i}">
                            <h5 class="card-title">${todo[i].title}</h5>
                            <p class="card-text">${todo[i].description}</p>

                            <br/>
                            <button id="update" class="btn btn-outline-warning btn-sm" value="complete_task">${status}</button>
                            <button id="delete" class="btn btn-outline-danger btn-sm" value="delete_task">Delete</button>
                            
                            <footer class="font-weight-light" style="font-size:x-small ; text-align: right;">${todo[i].date}</footer>
                        </div>
                    </div>
                </div>`

                wrapper.innerHTML += card
            }

        })
    }

    function addTask() {
        fetch("{% url 'todolist:add_task' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#addform'))
        }).then(loadCards)

        document.getElementById('#addform').reset()
        console.log("works!")

        return false
    }
    
</script>

{% endblock content %}