* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.full-width {
    min-height: 100vh;
    background-color: #feecae;
}

nav {
    background-color: #feecae;
    height: fit-content;
}

#tasks {
    background-color: #2b3661;
    border-radius: 1rem;
    transition: transform .7s;
}

#tasks:hover {
    transform: scale(1.05);
}

body {
    padding-top: 97px;
}